*{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0,3s;
}

a:hover {
    opacity: 0,7;
}

.logo{
    font-size: 24px;
    text-decoration: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #2b0000;
    height: 8vh;
}

main{
    background: url(".") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.menu{
    list-style: none;
    display: flex;

}

.menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}

body{
    background-color: #420101;
}

#imgLogo{
    margin-top: 180px;
    width: 250px;
    
}
.mobileMenu{
    display:none;
    cursor: pointer;
}

.mobileMenu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    body{
        overflow: hidden;
    }
    .menu{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #2b0000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .menu li {
        margin-left: 0;
        opacity: 0;
    }

    .mobileMenu{
        display: block;
    }
}

.menu.active{
    transform: translateX(0);
}

#imgLogo1{
    width: 340px;
}

section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

#qrCode{
    width: 50%;
    border-radius: 8%;
}